header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	padding: $grid-padding/2 $grid-padding*2;
	background-color: $color-link;
	color: $color-white;
	margin-bottom: $spacing-lg;

	a {
		color: $color-white;
		@include link-null;
	}

	ul, ol { //clear styling from nav-based lists
		@include ul-null;
	}
}

.header-logo {
	@include paragraph;
	margin-bottom: 0;
}