
        <!-- <span class="hp__interest-item js-interest-item">
          <span class="hp__interest-h">Project Title</span>
          <img data-src="/static/img/screenshot-trace.png" class="hp__interests-hover-image js-hp-hover-img" alt="alt">
        </span> -->
         <!--  <video class="hp__interests-hover-image js-hp-hover-img" autoplay preload muted loop><source src="/static/img/trace.mp4" type="video/mp4"></video> -->
