---
title: Matthew Lee Design
---
{% extends "layouts/base.twig" %}

{% block content %}
  <div class="container_main">
    <h2>Why, hello there.</h2>

    <p>I’m Matt, a designer and front-end developer specializing in the places where design, code, and user experience overlap. I approach projects in a hybrid way that’s better suited for today’s web, designing in the browser and working closely and collaboratively with my clients.</p>
    <p>My background in a wide range of roles leads to more cohesive projects: sites that have been structured with an information architect’s view of content, designed with code in mind from the very beginning, and programmed with a designer’s eye to detail. You can think of me as a happy generalist—still a designer, just one who happens to design with code.</p>

  </div>
{% endblock %}
