---
title: Matthew Lee Design
---
{% extends "layouts/base.twig" %}

{% block content %}
  <div class="container">
    <h2>Why, hello there. I’m Matt, a <s>designer</s> <s>web designer</s> <s>front-end developer</s> <s>front-end designer</s> <s>UI/UX developer</s> <s>front-end developer, but not stuff like React</s> <s>gfe!bfa&uh!jk@hj&3&hg*</s></h2>
    <h2>Let’s just go with “designer.”</h2>

    <p>I’m a happy generalist who does a lot of designing through code. With a background ranging from print design to front-end development, I now spend most of my time building digital publications and online editorial experiences. Whether it’s on a page or a smartphone, I aim to design things that people with love to read.</p>

    <p>I’m currently in Boston, where I work with the fine folks at <a href="https://www.upstatement.com">Upstatement</a>. I’m the Design Lead of Release Team, which focuses on the long-term growth and evolution of our sites—essentially, remote product design for clients without in-house digital teams. I've been lucky to work on a wide range of projects including The Trace, WBUR, Christopher Kimball’s Milk Street, The Engine, Taste, and Punch.</p>

    <p>If you’d like to chat about typography, modular Sass structure, bocce technique, weird amaros, or the finer points of homemade pierogi, don’t hesitate to say hi via email or Twitter. I’m from the Midwest, so I’m culturally predisposed to chattiness.</p>

  </div>
{% endblock %}
