---
title: Matthew Lee Design
---
{% extends "layouts/base.twig" %}

{% block content %}
<section class="hp-top">
  <div class="hp-top__intro">
      <h2>Why, hello there.</h2>
      <p>I’m Matt, a <s>designer</s> <s>web designer</s> <s>front-end developer</s> <s>front-end designer</s> <s>UI/UX developer</s> <s>anything but React</s> <s>gf!bf&uh!jk@hj&3&h*</s></p>
      <p>Let’s just go with “designer.”</p>
  </div>
  <div class="hp-top__body">
      <p>I’m a happy generalist who does a lot of designing through code. With a background ranging from <a href="http://www.landesbergdesign.com">print design</a> to <a href="http://www.maya.com">user experience</a> to <a href="http://www.cgpartnersllc.com">front-end development</a>, I now spend most of my time building digital interfaces and online publications.</p>

      <p>I’m currently at <a href="https://www.github.com">GitHub</a>, where I’m part of a small team designing and coding the public-facing websites for the world’s largest open source platform. Prior to GitHub, I most recently worked at <a href="https://www.upstatement.com">Upstatement</a> as the Design Lead of Release Team, focusing on the long-term evolution of sites for clients with limited or no in-house digital teams.</p>

      <p>If you’d like to chat about typography, modular Sass, bocce technique, weird amaros, or the finer points of homemade pierogi, don’t hesitate to say hi via <a href="mailto:matthewleedesign@gmail.com">email</a> or <a href="https://www.twitter.com/mattjohnlee">Twitter</a>. I’m from the Midwest, so I’m predisposed to chattiness.</p>
  </div>
</section>

<section class="hp-bottom">
  <div class="projects">
    <h2 class="for-example">for example</h2>

    {% set projects = data.projects %}

    <ul class="project-list">
    {% for project in projects %}
      {% if project.published == 'true' %}
      <li class="project hp__interest-item js-interest-item">
        <a href="{{project.url}}" class="project-link">
          <div class="project-intro">
            <h3 class="project-name hp__interest-h">{{project.title}}</h3>
            <p class="project-date">{{project.date.start}}{% if project.date.start != project.date.end %} – {{project.date.end}}{% endif %}</p>
          </div>
          <div class="project-description">
            <p>{{project.description}}</p>
          </div>
          {# <ul class="project-responsibilities">
          {% for item in project.responsibilities %}
            <li>{{item}}</li>
          {% endfor %}
          </ul> #}
          <img src="/static/img/screenshot-cropped-{{project.abbr}}.jpg" class="hp__interests-hover-image js-hp-hover-img" alt="Screenshot of {{project.title}}">
        </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
