/*
////////////////////////////////////////////////////////////////////////////
Animate all properties
////////////////////////////////////////////////////////////////////////////
*/

@mixin animate($property: all) {
  transition-property: $property;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
}

@mixin animate-slow($property: all) {
  transition-property: $property;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

@mixin animate-fast($property: all) {
  transition-property: $property;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

@mixin animate-smooth($property: all) {
  transition-property: $property;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/*
////////////////////////////////////////////////////////////////////////////
Animate specific properties
////////////////////////////////////////////////////////////////////////////
*/

@mixin animate-opacity {
	transition: opacity, 0.3s, ease-out;
}

@mixin animate-color {
	transition: color, 0.3s, ease-out;
	transition: background-color, 0.3s, ease-out;
}

@mixin animate-move {
	transition: all, 0.3s, ease-in-out;
}
