.hp-top {
  @include container-padded;
  margin-left: 0;
  margin-top: $homepage-margin-top;
  max-width: 65em;

  @include mq($bp-intro-columns) {
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: $spacing-md;
    gap: 5%;
  }
}

.hp-top__intro {
  * {
    @include heading-text;
    @include fluid-headline;
  }

  @include mq($bp-nav) {
    margin-top: -1%;
  }

  @include mq($bp-intro-columns) {
    margin-top: -0.333%;
    width: 35%;
    flex-shrink: 0;
  }
}

.hp-top__body {
  @include mq($bp-intro-columns) {
    width: 60%;
    flex-shrink: 0;
  }

  p {
    @include mq($bp-intro-columns) {
      font-size: $font-size-h4;
      max-width: 55em;
    }
  }
}

.project-image {
  display: none;

  @include mq($bp-nav) {
    position: fixed;
    max-height: 70vh;
    max-width: 50vw;
    left: 50%;
    top: 50%;
    transform: translate3d(-15%, -105%, 0);
    box-shadow: 0 0 20px rgba($color-black, .3);
    display: block;
    opacity: 0;
    pointer-events: none;
    @include animate-fast(opacity);

    .show-image & {
      opacity: 1;
    }
  }
}

.for-example {
  @include container-padded;
  @include smallcaps;
  color: $color-base;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-md;
}

.projects {
  margin: 0;
}

.project-list {
  @include ul-null;
}

.project {
  margin: 0;
  &:before {
    content: '';
    width: 100%;
    // height: 1px;
    display: block;
    border-top: $border-thin;
  }
}

.project-link {
  position: relative;
  @include container-padded;
  padding-top: $spacing-lg;
  padding-bottom: $spacing-md;
  margin-bottom: 0;
  @include animate-fast;

  @include mq($bp-nav) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: $spacing-lg;
    padding-bottom: $spacing-md;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transform-origin: 0 0;
      background-color: $color-selection-bg;
      @include animate-smooth;
    }
  }

  &:hover, &:focus {
    background-color: $color-selection-bg;

    @include mq($bp-nav) {
      background: none;

      &:after {
        width: 100%;
        height: 100%;
        transform: scaleX(1);
      }
    }
  }

  > * {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.project-intro {
  @include mq($bp-nav) {
    width: 35%;
  }
}

.project-description {
  @include mq($bp-nav) {
    width: 60%;
    z-index: -1;
  }
  p {
    @include mq($bp-intro-columns) {
      max-width: 65em;
      text-wrap: pretty;
    }
  }
}

.project-name {
  @include fluid-headline;
  margin-bottom: 0;
  position: relative;
  z-index: -1;
}

.project-date {
  @include smallcaps;
  font-family: $serif;
  margin-top: $spacing-sm;

  @include mq($bp-nav) {
    margin-bottom: 0;
  }
}


.project-responsibilities {
  @include ul-null;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs;
  margin-top: -$spacing-xs;

  li {
    margin-bottom: 0;
    @include small;
    background-color: tint($color-text, 95%);
    padding: 0.07em 0.5em 0.03em;
    border-radius: 3px;
    white-space: nowrap;
  }
}
