.hp__intro {
  margin-top: $spacing-xxl*2;
}

.hp__interest-h {
}

.hp__interests-hover-image {
  position: fixed;
  max-width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate3d(-8%, -105%, 0);
  // display: none;
  opacity: 0;
  // z-index: -1;
  pointer-events: none;
  @include animate-fast(opacity);
  // box-shadow: 0 0 15px rgba(0,0,0,.15);

  .show-image & {
    // display: block;
    opacity: 1;
  }
}

.for-example {
  @include container;
  @include smallcaps;
  font-weight: bold;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-md;
}

.projects {
  @include container(100%);
  margin: 0;
}

.project-list {
  @include ul-null;
}

.project-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: $border-thin;
  padding: $spacing-lg $grid-padding*2 $spacing-md;
  margin-bottom: 0;
  @include animate-fast;

  &:hover, &:focus {
    background-color: $color-selection-bg;
  }

  &:after {
    display: none;
  }

  > * {
    margin-bottom: 0;
    padding-bottom: 0;

    &:not(:last-child) {
      margin-right: $spacing-xxl;
    }
  }
}

.project-name {
  @include heading-2;
  margin-bottom: 0;
}

.project-date {
  @include smallcaps;
  font-family: $serif;
  margin-bottom: 0;
}


.project-responsibilities {
  @include ul-null;

  li {
    margin-bottom: 0;
  }
}